<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    <meta name="author" content="Luan Solino"></meta>
    <title>CRUD</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></link>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-full navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" th:href="@{/}">CRUD</a>
          </div>
          <ul class="navbar-nav nav">
            <li><a th:href="@{/funcionarios}">Funcionários</a></li>
          </ul>
        </div>
      </nav>

      <section layout:fragment="Conteudo"></section>

      <footer style="text-align:center;">
        <hr/>
        <p>Luan Solino</p>
      </footer>
    </div>
  </body>
</html>