<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="application">

  <section layout:fragment="Conteudo">

    <div class="row" style="margin: 50px">
      <div class="col-md-4 col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Funcionário</div>
            <div class="panel-body">
              <form class="form-inline" method="POST" th:object="${funcionario}" th:action="@{/funcionarios}"  style="margin: 20px 0">
                <div th:if="${#fields.hasErrors('*')}"> 
                    <h3 th:each="erro : ${#fields.errors('*')}" th:text="${erro}"></h3> 
                </div>
                <div class="form-group">
                  <input type="hidden" th:field="*{id}" />
                </div>
                <div class="form-group">
                  <label for="nome">Nome: &nbsp;</label>
                  <input class="form-control" type="text" th:field="*{nome}" name="nome" id="nome" placeholder="Nome"/>
                </div>
                <br>
                <br>
                <div class="form-group">
                  <label for="cpf">CPF: &nbsp;</label>
                  <input class="form-control" type="text" th:field="*{cpf}" name="cpf" id="cpf" placeholder="CPF"/>
                </div>
                <br>
                <br>
                <div class="form-group">
                  <label for="telefone">Telefone: &nbsp;</label>
                  <input class="form-control" type="text" th:field="*{telefone}" name="telefone" id="telefone" placeholder="Telefone"/>
                </div>
                <br>
                <br>
                <div class="form-group">
                  <label for="salario">Salário: &nbsp;</label>
                  <input class="form-control" type="text" th:field="*{salario}" name="salario" id="salario" placeholder="Salário"/>
                </div>
                <br>
                <br>
                <input class="btn btn-primary" type="submit" value="Salvar"/>
              </form>
            </div>  
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="panel panel-primary">
          <div class="panel-heading">Lista de Funcionários</div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nome</th>
                  <th>CPF</th>
                  <th>Telefone</th>
                  <th>Salário (R$)</th>
                  <th colspan="2">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="funcionario : ${funcionarios}">
                  <td th:text="${funcionario.id}">ID</td>
                  <td th:text="${funcionario.nome}">Nome</td>
                  <td th:text="${funcionario.cpf}">CPF</td>
                  <td th:text="${funcionario.telefone}">Telefone</td>
                  <td th:text="${funcionario.salario}">Salário</td>
                  <td>
                    <a th:href="@{/tarefas/}+${funcionario.id}" 
                      class="btn btn-primary">Tarefas
                    </a>
                    <a th:href="@{/funcionarios/alterar/}+${funcionario.id}" 
                      class="btn btn-warning">Editar
                    </a>
                    <a th:href="@{/funcionarios/excluir/}+${funcionario.id}" 
                      class="btn btn-danger" onclick="return confirm('Deseja realmente excluir esse funcionário?')">Apagar
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</html>